name: Gradle Package

on:
  push:
    branches:
      - main
  release:
    types: [ created ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/delete-package-versions@v2
        with:
          package-name: net.purefunc.core-domain,net.purefunc.member-domain,net.purefunc.member-sdk
          min-versions-to-keep: 1
          token: ${{ secrets.PUBLISH_TOKEN }}